---
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/footer.astro";
import PageSection from "../../layouts/PageSection.astro";
---


<Hero title="dots" image="/if3.jpeg" alt="The full Astro logo." />

<Layout title="Connecting the dots">
  <PageSection>
    <p>Published on: 2024-06-10</p>
  </PageSection>
  <PageSection>
    <p>
      "Are you sure about this?" is an uncomfortable question I haven't been
      able to answer convincingly, yet.
    </p>
    <p>
      Steve Jobs once said that you have to trust that the dots will somehow
      connect in your future. For a lot of us, however, these dots are already
      set in place right when we're born. You just have to follow them, and it
      isn't as easy as it might sound.
    </p>
    <br />
    <p>
      I started my journey with <a href="www.fossunited.org" style="color: blue">FOSS United</a> over a year ago, as a volunteer for
      <a href="indiafoss.net/chennai/2023">ChennaiFOSS</a> I remember conveying my interest in volunteering to <a href="wisharya.com">Vishal</a>
      who asked me if I would be able to help with outreach. I had no clue what
      that meant, and after half an hour of googling, I told him I'd just help
      out on the ground.
      <br><br>
      I had been attending technical community events for a
      while by this time, but there was something different about ChennaiFOSS. I
      don't know if it was the idea of promoting a philosophy, and not a
      company's products; maybe seeing the other volunteers put so much time and
      energy into the event with no expectations in return. Anyhow, I knew this
      was something I'd love to do again. Over the next few months, I'd realize
      this would become all I'd do.
    </p>
    <br />
    <img src="/text.png" alt="ChennaiFOSS" /><br />
    <p>
      I, along with the newly formed <a href="fossunited.org/chennai">FOSS United Chennai</a> team (Hari, Sakhil,
      Immanuel), spent the next few months organizing monthly meetups and Linux
      Installation fests. I kept getting more involved with the activities of
      the foundation. As months passed, I became a FOSS Club lead (then the FOSS
      Clubs coordinator for the first cohort), a volunteer for <a href="indiafoss.net/2023">IndiaFOSS</a>, and
      started helping out with a bunch of other small projects the organization
      was involved in. But more importantly, for the first time in my life, I
      became an evangelist. Everywhere I went, I would talk about this
      organization and the great work they've been doing (I don't talk a lot
      usually so that was interesting).
    </p>
  </PageSection>

  <PageSection>
    <p>
      Another reason why I find this period of my life very interesting is that
      I had discovered something I loved doing, while at the same time I had no
      clue what I wanted to do with my life. It's funny how these "dots" would
      never let you think that doing what you like can be a career option too.
      By this time, I had started taking ownership of various responsibilities,
      even starting my own projects at FOSS United. I had been looking forward to IndiaFOSS,
      which would supposedly be what all those efforts from the past six months
      would have led to. I thought "What's next" multiple times during this
      phase. I had to get serious about my career and find something else to do.
      I mean, I couldn't just keep doing this forever, right? IndiaFOSS seemed
      like the perfect conclusion to months of hard work and fun interactions.
      Life had other plans, however. I got offered an internship at FOSS United.
      <br><br>
      It was an easy yes; I left my ongoing internship and officially joined as
      a Community Manager intern. Life has been a roller-coaster since then, and
      I mean that literally. While most people refer to the Kubler Ross change
      curve as the "stages of grief," it might very well apply to starting a new
      job. It does for me.
    </p>
    <img src="/kubler.png" alt="Kubler Ross Change Curve" />
  </PageSection>

  <PageSection>
    <p>
      A lot has changed since then. We have new (and amazing) <a href="https://forum.fossunited.org/t/foss-united-2-0-the-community-the-organization-and-the-next-two-years/3244">leadership</a>, a
      bigger <a href="fossunited.org/team">team</a>, some more interesting projects coming up, and a broader
      vision. I've met some amazing people along the way, all of whom I continue
      to really look up to (and sometimes ask for help from, I'm bad at that).
      <br><br>
      I'm glad I met <a href="wisharya.com" style="color: blue">Vishal</a>, <a href="https://rahulporuri.github.io/" style="color: blue">Rahul</a>, <a href="https://www.linkedin.com/in/siddharth-shivkumar/" style="color: blue">Siddharth</a>, <a href="https://abhishekmishra.dev/about/" style="color: blue">Abhishek</a>, <a href="knadh.in" style="color: blue">Kailash</a>, <a href="https://www.linkedin.com/in/shobhankita" style="color: blue">Shobhankita</a>,
      <a href="https://www.helloanoop.com/" style="color: blue"> Anoop</a> and countless others, and while our interactions have been limited,
      they have all unknowingly inspired me for the longest time and helped me
      look at things in a different way while I gear up for another (longer and
      hopefully more fun) ride on this rollercoaster.
    </p>
    <p>Ansh</p>
    <img src="/cityjs.png" alt="CityJS India" />
    <p>Talking about FOSS United at CityJS Conf. India</p>
    <img src="/teamIF3.jpeg" alt="IndiaFOSS volunteers" />
    <p>At IndiaFOSS 3.0</p>
    <img src="/if3.jpeg" alt="IndiaFOSS Murals" />
    <p>Murals at IndiaFOSS 3.0</p>
    <img src="/delhifoss.jpg" alt="DelhiFOSS 2.0" />
    <p>Talking about FOSS United at DelhiFOSS 2.0</p>
  </PageSection>

  <Footer />
</Layout>
