---
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/footer.astro";
 import PageSection from "../../layouts/PageSection.astro";
---



<Layout title="Blog">
  <Hero />
  
    <PageSection>
    <!-- <SectionHeading>More about me :)</SectionHeading> -->
        <h1 class="text-black text-base font-semibold md:text-2xl">Coming Soon</h1>
    </PageSection>
    <PageSection>

    </PageSection>


 <!-- <WorkLinks/>  -->
  <!-- <Footer /> -->
</Layout>
