---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import PageSection from "../layouts/PageSection.astro";
import Recommendation from "../components/Recommendation.astro";
---

<Layout title="Recommendations">
  <Hero />

  <PageSection>
    <h1 class="text-black text-base font-semibold md:text-2xl">Recommended Books</h1>
    <Recommendation type="book" title="Book Title 1" author="Author Name 1" />
    <Recommendation type="book" title="Book Title 2" author="Author Name 2" />
    <!-- Add more book recommendations as needed -->
  </PageSection>

  <PageSection>
    <h1 class="text-black text-base font-semibold md:text-2xl">Recommended Movies</h1>
    <Recommendation type="movie" title="Movie Title 1" director="Director Name 1" />
    <Recommendation type="movie" title="Movie Title 2" director="Director Name 2" />
    <!-- Add more movie recommendations as needed -->
  </PageSection>

  <PageSection>
    <h1 class="text-black text-base font-semibold md:text-2xl">Recommended Podcasts</h1>
    <Recommendation type="podcast" title="Podcast Title 1" host="Host Name 1" />
    <Recommendation type="podcast" title="Podcast Title 2" host="Host Name 2" />
    <!-- Add more podcast recommendations as needed -->
  </PageSection>

  <Footer />
</Layout>
