---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Schedule">
    <!-- hero section -->
    <section class="bg-white px-9 space-y-10 pb-5 pt-20">
        <img src="/dev.svg" alt="hero" class="w-28 h-28">
    
        <div class="space-y-1">
            <h2 class="text-xl font-semibold text-green-600">Hi, This is Ansh</h2>
            <h1 class="font-semibold text-green-900 text-4xl">I post stuff here.</h1>
        </div>

    </section>
	<main class="px-9 my-36">
		<h2 class="uppercase text-2xl font-black text-green-500/70 mb-3">What have I been upto!</h2>
        <ul class="divide-y-2 divide-green-900/10">
            <li class="font-bold text-lg space-y-1 py-10">
                <div>
                    <h3>Static Heading 1</h3>
                </div>
                <div>
                    <time class="text-gray-500">
                        <span>12th May, 2022</span>
                    </time>
                </div>
                
            </li>
            <li class="font-bold text-lg space-y-1 py-10">
                <div>
                    <h3>Static Heading 1</h3>
                </div>
                <div>
                    <time class="text-gray-500">
                        <span>12th May, 2022</span>
                    </time>
                </div>
                
            </li>
        </ul>
	</main>
    <footer class="px-9 flex items-center justify-center mb-5">
        <span class="text-xl font-semibold text-green-600">Made with 🫶 by Ansh, using Astro+FrappeCMS</span>
    </footer>
</Layout>

