---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
 import PageSection from "../layouts/PageSection.astro";
---



<Layout title="Talks">
  <Hero />
  
  <PageSection>
    <!-- <SectionHeading>More about me :)</SectionHeading> -->
    <h1 class="text-black text-base font-semibold md:text-2xl">Building a sustainable FOSS ecosystem</h1>
    <h2>HackThisFall Hacktoberfest Virtual Meetup</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/P_f7-3MRgx8?si=y127P66Ps3ef5H9Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </PageSection>
  <PageSection>
    <h1 class="text-black text-base font-semibold md:text-2xl">Voices of the community ft. Ansh Arora</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/khylusUj1Qo?si=MCLLSSMcciEQv9DH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </PageSection>


 <!-- <WorkLinks/>  -->
  <Footer />
</Layout>
