---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
 import PageSection from "../layouts/PageSection.astro";
 import SectionHeading from "../components/SectionHeading.astro";
import WorkLinks from "../components/WorkLinks.astro";

---

<Layout title="thanks">
    <!-- hero section -->
    <PageSection>
        <div class="flex flex-col items-center space-y-8">
          <h2 class="text-3xl font-bold text-green-900">Thank you for your submission!</h2>
          <p class="text-lg text-green-900">I appreciate your message and will get back to you soon.</p>
          <!-- <img src="/path/to/thank-you-image.png" alt="Thank you" class="w-64" /> -->
          <a href="/" class="text-green-900 hover:text-blue-500 transition-colors">Back to Home</a>
          
        </div>
      </PageSection>
      <WorkLinks />
      <Footer />
      
    
</Layout>

