---
import AnshWithMic from "../../public/anshnobg.png";
---

<section class="px-9 md:px-24 md:mt-52 md:max-w-7xl md:mx-auto">
  <div class="space-y-12 md:space-y-0 md:space-x-14 md:flex md:items-end md:justify-center">

    <div class="md:flex md:justify-between">
      <div class="space-y-8 md:w-2/3">
        <div class="md:space-y-1">
          <h3 class="text-black text-base font-semibold md:text-2xl">
            Developer / Community Builder / Evangelist
          </h3>
        </div>
        <p class="text-lg md:text-xl font-normal">
          Hi! I'm Ansh, a 20-year-old hobbyist developer based out of India, currently pursuing a bachelor's in Computer Science.
          <br><br>
          I'm a full stack developer but particularly enjoy working with various front end web technologies. I'm also a community-first person, who spends a lot of time building and managing developer communities. 
          Currently, I'm working as an intern at FOSS United, a non-profit aimed at promoting the creation and usage of Free and Open Source Software.<br><br>
          I like to say that I'm an evangelist by day and developer by night :D
        </p>
      </div>
    </div>
  </div>
</section>
