---
import AnshWithMic from "../../public/anshnobg.png";
---

<section class="px-9 md:px-24 md:mt-52 md:max-w-7xl md:mx-auto">
  <div
    class="space-y-12 md:space-y-0 md:space-x-14 md:flex md:items-end md:justify-center"
  >
    <img alt="Photo from FOSS United monthly meetup #1" src={AnshWithMic} class="w-2/3 md:w-1/4 shrink-0" />

    <div class="space-y-8">
      <div class="md:space-y-1">
        <h2 class="text-green-900 font-semibold text-xl md:text-2xl">
          Ansh Arora
        </h2>
        <h3 class="text-green-600 text-base font-semibold md:text-2xl">
          FOSS Evangelist. Developer. Community Manager
        </h3>
      </div>

      <p class="text-green-900 text-lg md:text-xl font-normal">
        I am a front end developer with experience in building web applications using react,next,vueJS,Astro etc. I have also worked with a variety of CMS (sanity,strapi,storyblok,frappe and more) Currently I am exploring backend technologies and Google Cloud Platform.
        <br><br>Besides that, I am a community first person. I manage, participate, and volunteer at various communities and conferences all over India. I am also an active volunteer at FOSS United and am involved in spreading the word of free and open source software in Chennai.
      </p>
    </div>
  </div>
</section>