<footer class="px-9 md:px-24 flex flex-col items-center justify-center mb-10 mt-36 md:mt-80">
    <span class="text-xl font-semibold text-green-600">Made with 🫶 by Ansh, using Astro</span>
  
    <div class="flex items-center mt-4">
      <div class="mr-4">
        <a href="https://github.com/ansharora28" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github text-green-900 text-xl hover:text-black"></i>
        </a>
      </div>
      <div class="mr-4">
        <a href="https://linkedin.com/in/ansharorake2" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin text-green-900 text-xl hover:text-blue-800"></i>
        </a>
      </div>
      <div>
        <a href="https://twitter.com/toomuchansh" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter text-green-900 text-xl hover:text-blue-500"></i>
        </a>
      </div>
      <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="6pfd1d89" data-limit="5"></script>
    </div>
  </footer>
  