<footer class="flex flex-col items-center justify-center mt-12">
  
  <div class="flex items-center">
    <div class="mr-4">
      <a href="https://github.com/ansharora28" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github text-slate-700 text-xl md:text-4xl font-semibold hover:text-black"></i>
      </a>
    </div>
    <div class="mr-4">
      <a href="https://linkedin.com/in/ansharorake2" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin text-slate-700 text-xl md:text-4xl font-semibold hover:text-blue-800"></i>
      </a>
    </div>
    <div class="mr-4">
      <a href="https://twitter.com/ansharora28" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter text-slate-700 text-xl md:text-4xl font-semibold hover:text-blue-500"></i>
      </a>
    </div>
    <div>
      <a href="mailto:ansh@disroot.org" target="_blank" rel="noopener noreferrer">
        <i class="far fa-envelope text-slate-700 text-xl md:text-4xl font-semibold hover:text-blue-500"></i>
      </a>
    </div>
  </div>
  <span class="text-xl md:text-lg font-normal">Made with 🫶 by Ansh, using Astro</span>

</footer>
