---
import {
Astronav,
MenuItems,
MenuIcon,
Dropdown,
DropdownItems,
DropdownSubmenu,
} from "astro-navbar";
---
<header class="lg:flex justify-between p-5 gap-5 mx-auto container text-lg md:text-xl font-normal">
   <Astronav closeOnClick>
      <div class="flex w-full lg:w-auto justify-between">
         <a>Ansh Arora</a>
         <div class="block lg:hidden">
            <MenuIcon class="w-4 h-4 text-gray-800" />
         </div>
      </div>
      <MenuItems class="hidden lg:flex">
         <ul class="flex flex-col lg:flex-row lg:gap-5">
            <li>
               <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Talks</a>
           </li>
            <li>
               <a href="#">Projects</a>
            </li>
            <li>
              <a href="#">Blog</a>
           </li>
         </ul>
      </MenuItems>
   </Astronav>
</header>