<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOSS Club SRM Contact Form</title>
    <!-- Include the Tailwind CSS CDN link here -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<body class="bg-gray-200">
    <div class="container mx-auto mt-8 p-4">
        <div class="bg-gray-100 p-4 rounded-md mb-6">
            <h2 class="text-center text-xl font-semibold mb-2">FOSS Club SRM</h2>
            <h3 class="text-center text-lg font-medium mb-1">Core Team Structure</h3>
            <p>The core leadership team of FOSS Club SRM consists of 10 members, including the lead selected by FOSS United. Below, you will find information about the available roles, their responsibilities, and the desired background for each position. You can apply for a maximum of 2 positions across any level and domain (Just submit the application twice to apply for another domain). Maintainers will oversee their respective domains, mentor and work with the contributors, who will be in charge of the club "members" recruited at a later point in time .</p>
            <br>
            <p>Depending upon the experience and background of the applicant, contributor applications may directly be promoted to maintainer and applicants for maintainers may be offered a role of contributor in case there are multiple good applications.</p><br>
            <p>An effort to try to learn more about FOSS, FOSS United and the philosophy of the club increases your chances of selection and/or promotion. The following resources will be helpful:</p><br>
            <ul>
                <li class="mb-1"><a href="https://fossunited.org/" class="text-green-700 hover:underline">FOSS United Website</a></li>
                <li class="mb-1"><a href="https://fossunited.org/wiki/home" class="text-green-700 hover:underline">FOSS United Wiki</a></li>
                <li class="mb-1"><a href="https://forum.fossunited.org/t/introducing-foss-clubs/2277" class="text-green-700 hover:underline">An overview of FOSS Clubs</a></li>
                <li class="mb-1"><a href="https://fossunited.org/clubs" class="text-green-700 hover:underline">FOSS Clubs Website</a></li>
            </ul>
            <div class="mb-6">
                <h4 class="text-center font-semibold">Associate Lead</h4>
                <p class="text-center"><span class="font-semibold">Number of Positions:</span> 1</p>
                <p class="text-center">Responsible for handling club-related activities at the topmost level alongside the lead.</p>
                <ul class="list-disc pl-4">
                    <li class="mb-1">A technical background is required.</li>
                    <li class="mb-1">Strong design sense is a plus.</li>
                    <li class="mb-1">Understanding the philosophy behind FOSS and FOSS United is advantageous.</li>
                </ul>
            </div>
            <div class="mb-6">
                <h4 class="text-center font-semibold">Maintainers</h4>
                <p class="text-center"><span class="font-semibold">Number of Positions:</span> 3</p>
                <p class="text-center">Open to second and third-year students with prior experience in managing communities at a leadership level.</p>
                
                <ul class="list-disc pl-4">
                    <li class="mb-1"><span class="font-semibold">Technical - 1:</span> Responsible for projects, workshops, and documentation. Requires core technical skills and open-source contributions.</li>
                    <li class="mb-1"><span class="font-semibold">Evangelist - 1:</span> Responsible for outreach, content creation, event planning, and promotions. Good communication skills and a technical background are advantageous.</li>
                    <li class="mb-1"><span class="font-semibold">Creatives - 1:</span> Responsible for website and social media design, UI-UX.</li>
                </ul>
            </div>
            <div>
                <h4 class="text-center font-semibold">Contributors</h4>
                <p class="text-center"><span class="font-semibold">Number of Positions:</span> 5</p>
                <p class="text-center">Open to second-year students with prior experience in their chosen domain at an executive/member level.</p>
                <ul class="list-disc pl-4">
                    <li class="mb-1"><span class="font-semibold">Technical - 2:</span> Working with the maintainer on projects, workshops, and documentation.</li>
                    <li class="mb-1"><span class="font-semibold">Evangelists - 2:</span> Working with the maintainer on outreach, content creation, event planning, and promotions.</li>
                    <li class="mb-1"><span class="font-semibold">Creatives - 1:</span> Working with the maintainer on website and social media design </li>
                </ul>
            </div>
        </div>

        <!-- Contact Form -->
        <form action="https://formsubmit.co/ansharora2802@gmail.com" id="contact-form" class="bg-white p-4 rounded-md shadow-md" method="POST">
            <h3 class="text-xl font-semibold mb-4 text-center">Application Form</h3>
            <h4>Please keep a copy of your responses with you (as a screenshot of the filled form,for example.</h4>
            
            <!-- Input Elements -->
            <div class="mb-4">
                <label for="first_name" class="block text-gray-600 font-semibold mb-1">First Name</label>
                <input id="first_name" class="form-input border-2 border-gray-300 rounded-md p-2 w-full" required name="first_name" type="text" placeholder="First Name" autocomplete="given-name" />
            </div>
            <div class="mb-4">
                <label for="pronouns" class="block text-gray-600 font-semibold mb-1">Pronouns</label>
                <input id="pronouns" class="form-input border-2 border-gray-300 rounded-md p-2 w-full" required name="pronouns" type="text" placeholder="Your Pronouns" />
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-600 font-semibold mb-1">Email Address</label>
                <input id="email" class="form-input border-2 border-gray-300 rounded-md p-2 w-full" required name="email" type="email" placeholder="Your Email" autocomplete="email" />
            </div>
            <div class="mb-4">
                <label for="resume_link" class="block text-gray-600 font-semibold mb-1">Resume Link</label>
                <input id="resume_link" class="form-input border-2 border-gray-300 rounded-md p-2 w-full" required name="resume_link" type="text" placeholder="Link to your resume" />
            </div>
            <div class="mb-4">
                <label for="resume_link" class="block text-gray-600 font-semibold mb-1">Linkedin Profile</label>
                <input id="resume_link" class="form-input border-2 border-gray-300 rounded-md p-2 w-full"  name="linkedin" type="text" placeholder="Linkedin profile" />
            </div>
            <div class="mb-4">
                <label for="area_of_interest" class="block text-gray-600 font-semibold mb-1">Area of Interest</label>
                <select id="area_of_interest" class="form-select border-2 border-gray-300 rounded-md p-2 w-full" required name="area_of_interest">
                    <option value="" disabled selected>Select your Area of Interest</option>
                    <option value="Technical">Technical</option>
                    <option value="Evangelism">Evangelism</option>
                    <option value="Creatives">Creatives</option>
                </select>
            </div>
            <div class="mb-4">
                <fieldset>
                    <legend class="block text-gray-600 font-semibold mb-1">Choose your preferred role:</legend>
                    <label class="inline-flex items-center mb-2">
                        <input type="radio" name="role" value="Contributor" required class="form-radio">
                        <span class="ml-2">Contributor</span>
                    </label>
                    <label class="inline-flex items-center mb-2">
                        <input type="radio" name="role" value="Maintainer" required class="form-radio">
                        <span class="ml-2">Maintainer</span>
                    </label>
                    <label class="inline-flex items-center mb-2">
                        <input type="radio" name="role" value="lead" required class="form-radio">
                        <span class="ml-2">Associate Campus Lead</span>
                    </label>
                </fieldset>
            </div>
            <div class="mb-4">
                <label for="contribution" class="block text-gray-600 font-semibold mb-1">How can you contribute to FOSS Club SRM?</label>
                <textarea id="contribution" class="form-textarea border-2 border-gray-300 rounded-md p-2 w-full" required name="contribution" rows="4" ></textarea>
            </div>
            <div class="mb-4">
                <label for="experience" class="block text-gray-600 font-semibold mb-1">Do you have any prior experience in managing student communities/clubs?</label>
                <textarea id="experience" class="form-textarea border-2 border-gray-300 rounded-md p-2 w-full" required name="experience" rows="4" ></textarea>
            </div>
            <div class="mb-4">
                <label for="expectations" class="block text-gray-600 font-semibold mb-1">What are your expectations from the club? What are you hoping to learn from this experience?</label>
                <textarea id="expectations" class="form-textarea border-2 border-gray-300 rounded-md p-2 w-full" required name="expectations" rows="4" ></textarea>
            </div>
            <div class="mb-4">
                <label for="skills" class="block text-gray-600 font-semibold mb-1">Relevant links, projects, portfolio etc.</label>
                <textarea id="background" class="form-textarea border-2 border-gray-300 rounded-md p-2 w-full" required name="experience" rows="4" ></textarea>
            </div>
            <div class="mb-4">
                <label for="questions" class="block text-gray-600 font-semibold mb-1">Do you have any questions for us?</label>
                <textarea id="questions" class="form-textarea border-2 border-gray-300 rounded-md p-2 w-full" required name="questions" rows="4" ></textarea>
            </div>
            <div class="mb-4">
                <label for="referral" class="block text-gray-600 font-semibold mb-1">Would you like to refer someone for a spot in the leadership team? Drop their contact details here</label>
                <textarea id="referral" class="form-textarea border-2 border-gray-300 rounded-md p-2 w-full" name="referral" rows="4" ></textarea>
            </div>
            <div class="mb-4">
                <label for="confirmation" class="block text-gray-600 font-semibold mb-1">
                    <input id="confirmation" type="checkbox" required>
                    I have gone through the structure and shared resources.
                </label>                
            </div>
            <div class="mb-4">
                <label for="privacy" class="block text-gray-600 font-semibold mb-1">
                    <input id="confirmation" type="checkbox" required>
                    I consent to sharing my information with the FOSS Club leadership in order to evaluate my application.
                </label>
            </div>
            <div class="mb-4">
                <label for="acknowledgement" class="block text-gray-600 font-semibold mb-1">
                    <input id="confirmation" type="checkbox" required>
                    I acknowledge that submitting this form does not guarantee selection.
                </label>
            </div>
            <p>P.S - Your data will be rightfully deleted from our records once the application process is complete.</p>
            
            
            <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-semibold px-4 py-2 rounded-full w-full">
                Apply
            </button>
            
            <!-- Optional: Add any hidden fields you need -->
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_next" value="https://www.ansharora.live/thanks">
        </form>

        <!-- Additional Content -->
        <p class="mt-4 text-center">In case of questions, drop an <a href="ansh@disroot.org" class="text-green-700">email</a>. You need not use non-free software to contact me; feel free to reach out on <a class="text-blue-500" href="https://matrix.to/#/@your-username:matrix.org">Matrix</a>.</p>
    </div>
</body>
</html>
