<p class="text-lg md:text-xl font-normal">
    Hi! I'm Ansh, a 20 year old hobbyist developer based out of India, currently pursuing a bachelors in Computer Science.
    <br><br>
    My introduction to technology was at the age of 12, when I got my first PC.
    I immediately fell in love with computers. I became the guy at school people would often ask for help from, be it for projects,
    or fixing any issues they faced with their computers in the lab.
    <br><br>
    Not so long after, I got introduced to the world of programming, and I was hooked.
    I learnt creating static webpages with HTML and CSS, and would skip classes to add that extra spark to my projects.
    My teacher once told us to replicate the Google homepage, and if we were to do it well, we would maybe get a chance to do it for Google someday.
    I took that to heart, and I did it. Obviously, nothing on there was functional, but the idea that I could someday do it for Google sparked in me the dream of a career in tech.
  </p>
  <p class="text-lg md:text-xl font-normal">
    I passed my 10th grade, and like every student raised out of a small town, I had to choose between being a Doctor or an Engineer.
    I chose the latter, and took the decision to appear for one of the world's toughest exams, the JEE.
    <br><br>
    This changed a lot of things, and I had to put my passion for tech on hold for a long while. I had always been the class topper back at school, and I was now sitting in a classroom full of such students.
    I was no longer the best, and it was hard to keep up.
    <br>
    Now that I think about it, it's silly that I had to give up on the one thing I loved doing, for the dream of pursuing a career in it. 
    I was away from home, cut-off from my friends, studying subjects I didn't like all for the pursuit of getting into a reputed college.
    The COVID pandemic in 2020 made things worse, and I ended up failing the exam.
    <br><br>
    I was left devastated, I had spent 2 years of my life
  </p>