<form id="registeration-form" class="sm:w-full flex flex-col items-center" action="https://formsubmit.co/ansharora2802@gmail.com" method="POST">
    <h3 class="font-semibold text-base mb-4">Reach out here!</h3>
    
    <!-- Input Elements -->
    <div class="flex flex-col space-y-4 sm:grid sm:grid-cols-2 sm:justify-center sm:items-center sm:space-y-0 sm:gap-12">
      <input class="focus:ring-2 focus:outline-none focus:ring-gray-500 text-gray-500 font-semibold text-lg py-6 pl-4 rounded-lg border-[3px] border-gray-400" required name="first_name" type="text" placeholder="First Name" autocomplete="given-name" />
      <input class="focus:ring-2 focus:outline-none focus:ring-gray-500 text-gray-500 font-semibold text-lg py-6 pl-4 rounded-lg border-[3px] border-gray-400" required name="email" type="email" placeholder="Your Email" autocomplete="email" />
      <input class="focus:ring-2 focus:outline-none focus:ring-gray-500 text-gray-500 font-semibold text-lg py-6 pl-4 rounded-lg border-[3px] border-gray-400 resize-y h-36 w-full" required name="message" type="text" placeholder="Your Message" autocomplete="message" />
    </div>
    
    <button type="submit" class="group flex flex-row items-center justify-center space-x-7 focus:outline-none focus:ring-4 focus:ring-green-800 mt-10 bg-green-900 text-green-100 px-15 py-4 sm:px-[55px] sm:py-5 rounded-full font-bold text-xl sm:text-2xl transition-colors w-full sm:w-fit hover:text-white hover:bg-purple-500">
      <span>Send message</span>
      <i class="ph-bold ph-arrow-right group-hover:translate-x-3 transition-transform text-green-100"></i>
    </button>
    
    <input type="hidden" name="_captcha" value="false">
    <input type="hidden" name="_next" value="https://www.pfintools.com">
  </form>
  