---
import AnshWithMic from "../public/anshnobg.png";
---
<style>
    @import url('https://cdnjs.cloudflare.com/ajax/libs/phosphor-icons/0.1.8/phosphor-icons.min.css');
    
    .space-y-4 li {
      display: flex;
      align-items: center;
      gap: 8px;
      /* font-weight: bold;
      color: #333; */
      cursor: pointer;
      transition: color 0.3s ease-in-out;
    }
    
    .space-y-4 li:hover {
      color: #555;
    }
    
    .space-y-4 li::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #555;
      border-radius: 50%;
    }
  </style>
  <h3 class="text-black text-base font-semibold md:text-2xl hover:text-green-500">
    I am a(n):
  </h3>
  <br><br>
  <ul class="space-y-4 text-lg md:text-xl font-normal">
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://www.fossunited.org/about" target="_blank">Program and Partnerships Manager at FOSS United</a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://india.cityjsconf.org/" target="_blank">Organiser at CityJS Conferences</a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://www.fossunited.org/clubs" target="_blank">Advisor at FOSS Club SRM</a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    </ul>
    <br><br>
    <h3 class="text-black text-base font-semibold md:text-2xl hover:text-green-500">
      I've previously worked as a(n):
    </h3>

  <ul class="space-y-4 text-lg md:text-xl font-normal"><br>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://openweaver.com/" target="_blank">Developer Evangelist Intern at OpenWeaver </a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://essentia.dev/" target="_blank">SDE Intern at essentia.dev</a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://www.pfintools.com/" target="_blank">Product Head at pFinTools.com</a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
  </ul>
  