<style>
    @import url('https://cdnjs.cloudflare.com/ajax/libs/phosphor-icons/0.1.8/phosphor-icons.min.css');
    
    .space-y-4 li {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: bold;
      color: #333;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
    }
    
    .space-y-4 li:hover {
      color: #555;
    }
    
    .space-y-4 li::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #555;
      border-radius: 50%;
    }
  </style>
  
  <ul class="space-y-4 ">
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://openweaver.com/" target="_blank"> Community Evangelist intern, OpenWeaver </a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://essentia.dev/" target="_blank"> Ex Software Developer Intern, essentia.dev</a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://www.pfintools.com/" target="_blank">Product Head, pFinTools.com</a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://fossunited.org/clubs" target="_blank"> Founding Lead, FOSS Club SRM </a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://www.fossunited.org/about" target="_blank">Assistant Organizer, FOSS United</a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
      <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://india.cityjsconf.org/" target="_blank">Organizer,CityJS Conferences India</a></span>
      <i class="ph-arrow-right text-green-900"></i>
    </li>
    <li>
        <span class="underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"><a href="https://alexadevsrm.com/" target="_blank">Technical member, Alexa Developers SRM</a></span>
        <i class="ph-arrow-right text-green-900"></i>
    </li>
  </ul>
  