---
export interface Props {
  title: string;
  description?: string; // Add description as an optional prop
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="antialiased bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "Ansh's official website :)"} /> <!-- Use the description prop -->
    <meta name="title" content={title ? `${title} - Get to know Ansh!` : "Get to know Ansh!"} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/duck.svg" />

    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:image" content="/og-image.png" />
    <meta property="og:title" content={title ? `${title} - Know more about Ansh!` : "Know more about Ansh!"} /> <!-- Use title for og:title -->
    <meta name="image" content="/og-image.png" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="https://kit.fontawesome.com/c4a9203f07.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.9/lottie.min.js"></script>

    <!-- Import Google Fonts -->
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
