---


export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="antialiased bg-green-50">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Ansh's official website :)"
    />
    <meta name="title" content="Get to know Ansh!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- add og image -->
    <meta property="og:image" content="/og-image.png" />
    <meta property="og:title" content="Know more about Ansh!" />
    <meta name="image" content="/og-image.png" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="https://kit.fontawesome.com/c4a9203f07.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.9/lottie.min.js"></script>

  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
</style>